//navbar 
.navbar_settings{
    padding: 4px;
    display:flex;
    justify-content: center;
    align-content: center;
    Width: 100%;
}
// add more css features

footer {
    background: rgb(35, 35, 35)
}